In [2]:
import pandas as pd

df1=pd.read_csv('/Users/debby/DIGI/DIGI_TCA_2021/data/VM-Usage.csv')
pricesheet=pd.read_csv('/Users/debby/DIGI/DIGI_TCA_2021/data/azure-retail-multi-price-2021-07-01.csv')

usage= df1.rename(columns={'MeterId': 'meterId'}) 
usage['RG'] = usage['InstanceId'].str.split('/', expand=True).pop(4)
usage['ServiceType'] = usage['InstanceId'].str.split('/', expand=True).pop(7)

usage.head()

,DATE,Cost,InstanceId,ResourceLocation,meterId,UnitOfMeasure,ConsumedQuantity,RG,ServiceType
0,06/01/2021 00:00:00,90.274702,/subscriptions/40fa9e7c-d9c1-443e-9274-082880a...,southeastasia,2dff75ae-bd6e-417e-918d-8542c8ea3423,10 Hours,24.00000,FARGLORY_SAP,virtualMachines
1,06/02/2021 00:00:00,90.274702,/subscriptions/40fa9e7c-d9c1-443e-9274-082880a...,southeastasia,2dff75ae-bd6e-417e-918d-8542c8ea3423,10 Hours,24.00000,FARGLORY_SAP,virtualMachines
2,06/03/2021 00:00:00,360.811046,/subscriptions/40fa9e7c-d9c1-443e-9274-082880a...,southeastasia,a65937ec-6a71-4057-b638-c87221a92cd6,10 Hours,23.98335,FARGLORY_SAP,virtualMachines
3,06/01/2021 00:00:00,90.274702,/subscriptions/40fa9e7c-d9c1-443e-9274-082880a...,southeastasia,2dff75ae-bd6e-417e-918d-8542c8ea3423,10 Hours,24.00000,FG_SMT_IT,virtualMachines
4,06/03/2021 00:00:00,90.274702,/subscriptions/40fa9e7c-d9c1-443e-9274-082880a...,southeastasia,2dff75ae-bd6e-417e-918d-8542c8ea3423,10 Hours,24.00000,FARGLORY_SAP,virtualMachines

In [3]:
list(usage.columns)

['DATE',
 'Cost',
 'InstanceId',
 'ResourceLocation',
 'meterId',
 'UnitOfMeasure',
 'ConsumedQuantity',
 'RG',
 'ServiceType']

In [4]:
pd.set_option('display.max_columns', None)
pricesheet.head()

,meterId,meterName,productId,productName,skuId,skuName,serviceName,serviceId,serviceFamily,armSkuName,armRegionName,location,effectiveStartDate,currencyCode,tierMinimumUnits,unitOfMeasure,armSkuSpec,armSkuSpecRaw,operatingSystem,retailPrice,devtestPrice,riPrice1Y,riPrice3Y,spotPrice,detailJSON,updateTime
0,0001d427-82df-4d83-8ab2-b60768527e08,E10 Disks,DZH318Z0BP88,Standard SSD Managed Disks,DZH318Z0BP88/001V,E10 LRS,Storage,DZH317F1HKN0,Storage,NaN,uksouth,UK South,2018-11-01,USD,0.0,1/Month,{},{},Linux,10.5600,-1.000,-1.0,-1.0,-1.0000,{},2021-07-01 20:45:30
1,00027356-c92d-4d1c-bf45-4503a328cf3e,ZRS Data Stored,DZH318Z0BNWT,Standard Page Blob v2,DZH318Z0BNWT/00CD,Standard ZRS,Storage,DZH317F1HKN0,Storage,NaN,norwayeast,NO East,2019-12-01,USD,0.0,1 GB/Month,{},{},Linux,0.0619,-1.000,-1.0,-1.0,-1.0000,{},2021-07-01 20:45:30
2,000419bc-6006-53ea-8976-1644249b9728,D2 v4 Low Priority,DZH318Z0D1L4,Virtual Machines Dv4 Series,DZH318Z0D1L4/01TB,D2 v4 Low Priority,Virtual Machines,DZH313Z7MMC8,Compute,Standard_D2_v4,westindia,IN West,2021-02-01,USD,0.0,1 Hour,"{""vCPUs"":2,""memory"":8.00,""maxDataDiskCount"":4,...","[\n {\n ""name"": ""MaxResourceVolumeMB"",\n ...",Linux,0.0236,-1.000,-1.0,-1.0,-1.0000,{},2021-07-01 20:45:30
3,0004d849-f36c-4895-9806-d011aa73ba2f,Premium Data Analyzed,DZH318Z0BQD2,Log Analytics,DZH318Z0BQD2/004M,Premium,Log Analytics,DZH3140GXVMF,Management and Governance,NaN,uaenorth,AE North,2019-01-07,USD,0.0,1 GB,{},{},Linux,4.6200,-1.000,-1.0,-1.0,-1.0000,{},2021-07-01 20:45:30
4,0007942f-35ac-5c71-9845-63365457677b,D16s v5,DZH318Z08M9T,Virtual Machines Dsv5 Series Windows,DZH318Z08M9T/00MZ,Standard_D16s_v5,Virtual Machines,DZH313Z7MMC8,Compute,Standard_D16s_v5,eastus2,US East 2,2021-04-15,USD,0.0,1 Hour,NaN,NaN,Windows,0.7520,0.192,-1.0,-1.0,0.3008,{},2021-07-01 20:45:30

In [5]:
list(pricesheet.columns)

['meterId',
 'meterName',
 'productId',
 'productName',
 'skuId',
 'skuName',
 'serviceName',
 'serviceId',
 'serviceFamily',
 'armSkuName',
 'armRegionName',
 'location',
 'effectiveStartDate',
 'currencyCode',
 'tierMinimumUnits',
 'unitOfMeasure',
 'armSkuSpec',
 'armSkuSpecRaw',
 'operatingSystem',
 'retailPrice',
 'devtestPrice',
 'riPrice1Y',
 'riPrice3Y',
 'spotPrice',
 'detailJSON',
 'updateTime']

In [6]:
meter_sku= pd.merge(usage, pricesheet, on='meterId', how='left')
meter_sku.head()

,DATE,Cost,InstanceId,ResourceLocation,meterId,UnitOfMeasure,ConsumedQuantity,RG,ServiceType,meterName,productId,productName,skuId,skuName,serviceName,serviceId,serviceFamily,armSkuName,armRegionName,location,effectiveStartDate,currencyCode,tierMinimumUnits,unitOfMeasure,armSkuSpec,armSkuSpecRaw,operatingSystem,retailPrice,devtestPrice,riPrice1Y,riPrice3Y,spotPrice,detailJSON,updateTime
0,06/01/2021 00:00:00,90.274702,/subscriptions/40fa9e7c-d9c1-443e-9274-082880a...,southeastasia,2dff75ae-bd6e-417e-918d-8542c8ea3423,10 Hours,24.00000,FARGLORY_SAP,virtualMachines,D2 v3/D2s v3,DZH318Z0BQ4K,Virtual Machines Dv3 Series,DZH318Z0BQ4K/00X2,D2 v3,Virtual Machines,DZH313Z7MMC8,Compute,Standard_D2_v3,southeastasia,AP Southeast,2017-06-17,USD,0.0,1 Hour,"{""vCPUs"":2,""memory"":8.00,""maxDataDiskCount"":4,...","[\n {\n ""name"": ""MaxResourceVolumeMB"",\n ...",Linux,0.125,-1.0,0.072489,0.046043,0.025212,{},2021-07-01 20:45:36
1,06/02/2021 00:00:00,90.274702,/subscriptions/40fa9e7c-d9c1-443e-9274-082880a...,southeastasia,2dff75ae-bd6e-417e-918d-8542c8ea3423,10 Hours,24.00000,FARGLORY_SAP,virtualMachines,D2 v3/D2s v3,DZH318Z0BQ4K,Virtual Machines Dv3 Series,DZH318Z0BQ4K/00X2,D2 v3,Virtual Machines,DZH313Z7MMC8,Compute,Standard_D2_v3,southeastasia,AP Southeast,2017-06-17,USD,0.0,1 Hour,"{""vCPUs"":2,""memory"":8.00,""maxDataDiskCount"":4,...","[\n {\n ""name"": ""MaxResourceVolumeMB"",\n ...",Linux,0.125,-1.0,0.072489,0.046043,0.025212,{},2021-07-01 20:45:36
2,06/03/2021 00:00:00,360.811046,/subscriptions/40fa9e7c-d9c1-443e-9274-082880a...,southeastasia,a65937ec-6a71-4057-b638-c87221a92cd6,10 Hours,23.98335,FARGLORY_SAP,virtualMachines,D8 v3/D8s v3,DZH318Z0BQ4K,Virtual Machines Dv3 Series,DZH318Z0BQ4K/00RT,D8 v3,Virtual Machines,DZH313Z7MMC8,Compute,Standard_D8_v3,southeastasia,AP Southeast,2017-06-17,USD,0.0,1 Hour,"{""vCPUs"":8,""memory"":32.00,""maxDataDiskCount"":1...","[\n {\n ""name"": ""MaxResourceVolumeMB"",\n ...",Linux,0.500,-1.0,0.290068,0.184247,0.100849,{},2021-07-01 20:45:47
3,06/01/2021 00:00:00,90.274702,/subscriptions/40fa9e7c-d9c1-443e-9274-082880a...,southeastasia,2dff75ae-bd6e-417e-918d-8542c8ea3423,10 Hours,24.00000,FG_SMT_IT,virtualMachines,D2 v3/D2s v3,DZH318Z0BQ4K,Virtual Machines Dv3 Series,DZH318Z0BQ4K/00X2,D2 v3,Virtual Machines,DZH313Z7MMC8,Compute,Standard_D2_v3,southeastasia,AP Southeast,2017-06-17,USD,0.0,1 Hour,"{""vCPUs"":2,""memory"":8.00,""maxDataDiskCount"":4,...","[\n {\n ""name"": ""MaxResourceVolumeMB"",\n ...",Linux,0.125,-1.0,0.072489,0.046043,0.025212,{},2021-07-01 20:45:36
4,06/03/2021 00:00:00,90.274702,/subscriptions/40fa9e7c-d9c1-443e-9274-082880a...,southeastasia,2dff75ae-bd6e-417e-918d-8542c8ea3423,10 Hours,24.00000,FARGLORY_SAP,virtualMachines,D2 v3/D2s v3,DZH318Z0BQ4K,Virtual Machines Dv3 Series,DZH318Z0BQ4K/00X2,D2 v3,Virtual Machines,DZH313Z7MMC8,Compute,Standard_D2_v3,southeastasia,AP Southeast,2017-06-17,USD,0.0,1 Hour,"{""vCPUs"":2,""memory"":8.00,""maxDataDiskCount"":4,...","[\n {\n ""name"": ""MaxResourceVolumeMB"",\n ...",Linux,0.125,-1.0,0.072489,0.046043,0.025212,{},2021-07-01 20:45:36

In [7]:
meter_sku.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8807 entries, 0 to 8806
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DATE                8807 non-null   object
 1   Cost                8807 non-null   float64
 2   InstanceId          8807 non-null   object
 3   ResourceLocation    8807 non-null   object
 4   meterId             8807 non-null   object
 5   UnitOfMeasure       8807 non-null   object
 6   ConsumedQuantity    8807 non-null   float64
 7   RG                  8807 non-null   object
 8   ServiceType         8807 non-null   object
 9   meterName           8807 non-null   object
 10  productId           8807 non-null   object
 11  productName         8807 non-null   object
 12  skuId               8807 non-null   object
 13  skuName             8807 non-null   object
 14  serviceName         8807 non-null   object
 15  serviceId           8807 non-null   object
 16  serviceFamily       8807 non-null   object
 17  armSkuName          8807 non-null   object
 18  armRegionName       8807 non-null   object
 19  location            8807 non-null   object
 20  effectiveStartDate  8807 non-null   object
 21  currencyCode        8807 non-null   object
 22  tierMinimumUnits    8807 non-null   float64
 23  unitOfMeasure       8807 non-null   object
 24  armSkuSpec          8794 non-null   object
 25  armSkuSpecRaw       8794 non-null   object
 26  operatingSystem     8807 non-null   object
 27  retailPrice         8807 non-null   float64
 28  devtestPrice        8807 non-null   float64
 29  riPrice1Y           8807 non-null   float64
 30  riPrice3Y           8807 non-null   float64
 31  spotPrice           8807 non-null   float64
 32  detailJSON          8807 non-null   object
 33  updateTime          8807 non-null   object
dtypes: float64(8), object(26)
memory usage: 2.4+ MB

In [8]:
meter_sku.isnull().sum()

DATE                   0
Cost                   0
InstanceId             0
ResourceLocation       0
meterId                0
UnitOfMeasure          0
ConsumedQuantity       0
RG                     0
ServiceType            0
meterName              0
productId              0
productName            0
skuId                  0
skuName                0
serviceName            0
serviceId              0
serviceFamily          0
armSkuName             0
armRegionName          0
location               0
effectiveStartDate     0
currencyCode           0
tierMinimumUnits       0
unitOfMeasure          0
armSkuSpec            13
armSkuSpecRaw         13
operatingSystem        0
retailPrice            0
devtestPrice           0
riPrice1Y              0
riPrice3Y              0
spotPrice              0
detailJSON             0
updateTime             0
dtype: int64

In [11]:
meter_sku.head()

,DATE,Cost,InstanceId,ResourceLocation,meterId,UnitOfMeasure,ConsumedQuantity,RG,ServiceType,meterName,productId,productName,skuId,skuName,serviceName,serviceId,serviceFamily,armSkuName,armRegionName,location,effectiveStartDate,currencyCode,tierMinimumUnits,unitOfMeasure,armSkuSpec,armSkuSpecRaw,operatingSystem,retailPrice,devtestPrice,riPrice1Y,riPrice3Y,spotPrice,detailJSON,updateTime
0,06/01/2021 00:00:00,90.274702,/subscriptions/40fa9e7c-d9c1-443e-9274-082880a...,southeastasia,2dff75ae-bd6e-417e-918d-8542c8ea3423,10 Hours,24.00000,FARGLORY_SAP,virtualMachines,D2 v3/D2s v3,DZH318Z0BQ4K,Virtual Machines Dv3 Series,DZH318Z0BQ4K/00X2,D2 v3,Virtual Machines,DZH313Z7MMC8,Compute,Standard_D2_v3,southeastasia,AP Southeast,2017-06-17,USD,0.0,1 Hour,"{""vCPUs"":2,""memory"":8.00,""maxDataDiskCount"":4,...","[\n {\n ""name"": ""MaxResourceVolumeMB"",\n ...",Linux,0.125,-1.0,0.072489,0.046043,0.025212,{},2021-07-01 20:45:36
1,06/02/2021 00:00:00,90.274702,/subscriptions/40fa9e7c-d9c1-443e-9274-082880a...,southeastasia,2dff75ae-bd6e-417e-918d-8542c8ea3423,10 Hours,24.00000,FARGLORY_SAP,virtualMachines,D2 v3/D2s v3,DZH318Z0BQ4K,Virtual Machines Dv3 Series,DZH318Z0BQ4K/00X2,D2 v3,Virtual Machines,DZH313Z7MMC8,Compute,Standard_D2_v3,southeastasia,AP Southeast,2017-06-17,USD,0.0,1 Hour,"{""vCPUs"":2,""memory"":8.00,""maxDataDiskCount"":4,...","[\n {\n ""name"": ""MaxResourceVolumeMB"",\n ...",Linux,0.125,-1.0,0.072489,0.046043,0.025212,{},2021-07-01 20:45:36
2,06/03/2021 00:00:00,360.811046,/subscriptions/40fa9e7c-d9c1-443e-9274-082880a...,southeastasia,a65937ec-6a71-4057-b638-c87221a92cd6,10 Hours,23.98335,FARGLORY_SAP,virtualMachines,D8 v3/D8s v3,DZH318Z0BQ4K,Virtual Machines Dv3 Series,DZH318Z0BQ4K/00RT,D8 v3,Virtual Machines,DZH313Z7MMC8,Compute,Standard_D8_v3,southeastasia,AP Southeast,2017-06-17,USD,0.0,1 Hour,"{""vCPUs"":8,""memory"":32.00,""maxDataDiskCount"":1...","[\n {\n ""name"": ""MaxResourceVolumeMB"",\n ...",Linux,0.500,-1.0,0.290068,0.184247,0.100849,{},2021-07-01 20:45:47
3,06/01/2021 00:00:00,90.274702,/subscriptions/40fa9e7c-d9c1-443e-9274-082880a...,southeastasia,2dff75ae-bd6e-417e-918d-8542c8ea3423,10 Hours,24.00000,FG_SMT_IT,virtualMachines,D2 v3/D2s v3,DZH318Z0BQ4K,Virtual Machines Dv3 Series,DZH318Z0BQ4K/00X2,D2 v3,Virtual Machines,DZH313Z7MMC8,Compute,Standard_D2_v3,southeastasia,AP Southeast,2017-06-17,USD,0.0,1 Hour,"{""vCPUs"":2,""memory"":8.00,""maxDataDiskCount"":4,...","[\n {\n ""name"": ""MaxResourceVolumeMB"",\n ...",Linux,0.125,-1.0,0.072489,0.046043,0.025212,{},2021-07-01 20:45:36
4,06/03/2021 00:00:00,90.274702,/subscriptions/40fa9e7c-d9c1-443e-9274-082880a...,southeastasia,2dff75ae-bd6e-417e-918d-8542c8ea3423,10 Hours,24.00000,FARGLORY_SAP,virtualMachines,D2 v3/D2s v3,DZH318Z0BQ4K,Virtual Machines Dv3 Series,DZH318Z0BQ4K/00X2,D2 v3,Virtual Machines,DZH313Z7MMC8,Compute,Standard_D2_v3,southeastasia,AP Southeast,2017-06-17,USD,0.0,1 Hour,"{""vCPUs"":2,""memory"":8.00,""maxDataDiskCount"":4,...","[\n {\n ""name"": ""MaxResourceVolumeMB"",\n ...",Linux,0.125,-1.0,0.072489,0.046043,0.025212,{},2021-07-01 20:45:36

In [12]:
meter_sku.value_counts(['RG'])

RG
FARGLORY_SAP         6498
FG_VPN                942
FARGLORY_AD           374
FG_SMT_IT             331
FG_FSM                238
FARGLORY_WAKEUP       215
FG_WEBEDS              77
FGCLOUD                59
FarGlory_SAP           22
LAND_RG                19
FARGLORY_CM            13
FG_BPM                  6
FARGLORY_AADDS          5
FG_VOIP                 2
FargoloryRG1            2
SEA_TEST_RG             1
FARGLORYNETAPP-RG       1
FARGOLORYRG1            1
TestRG                  1
dtype: int64

In [52]:
df12=meter_sku.loc[meter_sku['RG']=='FARGLORY_SAP']
df12.value_counts(['skuName'])

skuName
D2 v3      4352
E8 v3       813
D8 v3       709
D4 v3       310
M32ms        63
E20 v3       61
E4 v3        56
D16 v3       49
D2 v2        35
M64ls        20
D1 v2        12
E32 v3        8
M64s          4
E16 v3        3
M32ts         2
E48 v3        1
dtype: int64

In [53]:
df12=meter_sku.loc[meter_sku['skuName']=='D2 v3']
df12.value_counts(['meterId'])

meterId
2dff75ae-bd6e-417e-918d-8542c8ea3423    5990
4855f157-570b-40df-b735-8c47505de5ac     256
dtype: int64

In [16]:
meter_sku['DATE'] = pd.to_datetime(meter_sku['DATE']) #轉換字元為日期時間型別
meter_sku = meter_sku.sort_values(by = 'DATE') #用時間先後序列排序資料
meter_sku.head(10)

,DATE,Cost,InstanceId,ResourceLocation,meterId,UnitOfMeasure,ConsumedQuantity,RG,ServiceType,meterName,productId,productName,skuId,skuName,serviceName,serviceId,serviceFamily,armSkuName,armRegionName,location,effectiveStartDate,currencyCode,tierMinimumUnits,unitOfMeasure,armSkuSpec,armSkuSpecRaw,operatingSystem,retailPrice,devtestPrice,riPrice1Y,riPrice3Y,spotPrice,detailJSON,updateTime
4943,2019-01-02,8.009644,/subscriptions/40fa9e7c-d9c1-443e-9274-082880a...,southeastasia,93dbc90a-fa3d-4128-8950-0b28437be121,10 Hours,1.483362,FargoloryRG1,virtualMachines,D11 v2/DS11 v2,DZH318Z0BQ34,Virtual Machines Dv2 Series,DZH318Z0BQ34/011Z,D11 v2,Virtual Machines,DZH313Z7MMC8,Compute,Standard_D11_v2,southeastasia,AP Southeast,2016-09-01,USD,0.0,1 Hour,"{""vCPUs"":2,""memory"":14.00,""maxDataDiskCount"":8...","[\n {\n ""name"": ""MaxResourceVolumeMB"",\n ...",Linux,0.191,-1.000,0.127169,0.084247,0.040110,{},2021-07-01 20:45:45
4942,2019-01-02,7.480808,/subscriptions/40fa9e7c-d9c1-443e-9274-082880a...,southeastasia,d5b0c2c3-9ce3-48ab-a8c8-706e53790875,100 Hours,1.816683,FargoloryRG1,virtualMachines,D1 v2/DS1 v2,DZH318Z0BPVM,Virtual Machines Dv2 Series Windows,DZH318Z0BPVM/00T9,D1 v2,Virtual Machines,DZH313Z7MMC8,Compute,Standard_D1_v2,southeastasia,AP Southeast,2018-06-01,USD,0.0,1 Hour,"{""vCPUs"":1,""memory"":3.50,""maxDataDiskCount"":4,...","[\n {\n ""name"": ""MaxResourceVolumeMB"",\n ...",Windows,0.145,0.079,-1.000000,-1.000000,0.041423,{},2021-07-01 20:45:52
4941,2019-01-02,37.611045,/subscriptions/40fa9e7c-d9c1-443e-9274-082880a...,southeastasia,2dff75ae-bd6e-417e-918d-8542c8ea3423,10 Hours,10.000000,FARGLORY_SAP,virtualMachines,D2 v3/D2s v3,DZH318Z0BQ4K,Virtual Machines Dv3 Series,DZH318Z0BQ4K/00X2,D2 v3,Virtual Machines,DZH313Z7MMC8,Compute,Standard_D2_v3,southeastasia,AP Southeast,2017-06-17,USD,0.0,1 Hour,"{""vCPUs"":2,""memory"":8.00,""maxDataDiskCount"":4,...","[\n {\n ""name"": ""MaxResourceVolumeMB"",\n ...",Linux,0.125,-1.000,0.072489,0.046043,0.025212,{},2021-07-01 20:45:36
4940,2019-01-02,9.539686,/subscriptions/40fa9e7c-d9c1-443e-9274-082880a...,southeastasia,d5b0c2c3-9ce3-48ab-a8c8-706e53790875,100 Hours,2.316673,FARGOLORYRG1,virtualMachines,D1 v2/DS1 v2,DZH318Z0BPVM,Virtual Machines Dv2 Series Windows,DZH318Z0BPVM/00T9,D1 v2,Virtual Machines,DZH313Z7MMC8,Compute,Standard_D1_v2,southeastasia,AP Southeast,2018-06-01,USD,0.0,1 Hour,"{""vCPUs"":1,""memory"":3.50,""maxDataDiskCount"":4,...","[\n {\n ""name"": ""MaxResourceVolumeMB"",\n ...",Windows,0.145,0.079,-1.000000,-1.000000,0.041423,{},2021-07-01 20:45:52
4945,2019-01-03,15.044418,/subscriptions/40fa9e7c-d9c1-443e-9274-082880a...,southeastasia,2dff75ae-bd6e-417e-918d-8542c8ea3423,10 Hours,4.000000,FARGLORY_SAP,virtualMachines,D2 v3/D2s v3,DZH318Z0BQ4K,Virtual Machines Dv3 Series,DZH318Z0BQ4K/00X2,D2 v3,Virtual Machines,DZH313Z7MMC8,Compute,Standard_D2_v3,southeastasia,AP Southeast,2017-06-17,USD,0.0,1 Hour,"{""vCPUs"":2,""memory"":8.00,""maxDataDiskCount"":4,...","[\n {\n ""name"": ""MaxResourceVolumeMB"",\n ...",Linux,0.125,-1.000,0.072489,0.046043,0.025212,{},2021-07-01 20:45:36
4951,2019-01-03,96.287054,/subscriptions/40fa9e7c-d9c1-443e-9274-082880a...,southeastasia,31155b12-9e96-4a16-82a7-a312683db100,10 Hours,2.000000,FarGlory_SAP,virtualMachines,E20 v3/E20s v3,DZH318Z0BQ4L,Virtual Machines Ev3 Series,DZH318Z0BQ4L/019J,E20 v3,Virtual Machines,DZH313Z7MMC8,Compute,Standard_E20_v3,southeastasia,AP Southeast,2018-07-01,USD,0.0,1 Hour,"{""vCPUs"":20,""memory"":160.00,""maxDataDiskCount""...","[\n {\n ""name"": ""MaxResourceVolumeMB"",\n ...",Linux,1.600,-1.000,0.940868,0.631773,0.318720,{},2021-07-01 20:45:36
4950,2019-01-03,6.268455,/subscriptions/40fa9e7c-d9c1-443e-9274-082880a...,southeastasia,1cf1d210-35c0-4f6a-8aa7-0ae52dfd6ec6,10 Hours,0.833350,FarGlory_SAP,virtualMachines,D4 v3/D4s v3,DZH318Z0BQ4K,Virtual Machines Dv3 Series,DZH318Z0BQ4K/00S3,D4 v3,Virtual Machines,DZH313Z7MMC8,Compute,Standard_D4_v3,southeastasia,AP Southeast,2017-06-17,USD,0.0,1 Hour,"{""vCPUs"":4,""memory"":16.00,""maxDataDiskCount"":8...","[\n {\n ""name"": ""MaxResourceVolumeMB"",\n ...",Linux,0.250,-1.000,0.145091,0.092123,0.050424,{},2021-07-01 20:45:34
4949,2019-01-03,66.132798,/subscriptions/40fa9e7c-d9c1-443e-9274-082880a...,southeastasia,2dff75ae-bd6e-417e-918d-8542c8ea3423,10 Hours,17.583345,FARGLORY_SAP,virtualMachines,D2 v3/D2s v3,DZH318Z0BQ4K,Virtual Machines Dv3 Series,DZH318Z0BQ4K/00X2,D2 v3,Virtual Machines,DZH313Z7MMC8,Compute,Standard_D2_v3,southeastasia,AP Southeast,2017-06-17,USD,0.0,1 Hour,"{""vCPUs"":2,""memory"":8.00,""maxDataDiskCount"":4,...","[\n {\n ""name"": ""MaxResourceVolumeMB"",\n ...",Linux,0.125,-1.000,0.072489,0.046043,0.025212,{},2021-07-01 20:45:36
4944,2019-01-03,548.035150,/subscriptions/40fa9e7c-d9c1-443e-9274-082880a...,southeastasia,31155b12-9e96-4a16-82a7-a312683db100,10 Hours,11.383361,FARGLORY_SAP,virtualMachines,E20 v3/E20s v3,DZH318Z0BQ4L,Virtual Machines Ev3 Series,DZH318Z0BQ4L/019J,E20 v3,Virtual Machines,DZH313Z7MMC8,Compute,Standard_E20_v3,southeastasia,AP Southeast,2018-07-01,USD,0.0,1 Hour,"{""vCPUs"":20,""memory"":160.00,""maxDataDiskCount""...","[\n {\n ""name"": ""MaxResourceVolumeMB"",\n ...",Linux,1.600,-1.000,0.940868,0.631773,0.318720,{},2021-07-01 20:45:36
4947,2019-01-03,1.759096,/subscriptions/40fa9e7c-d9c1-443e-9274-082880a...,southeastasia,e763e375-2875-4832-a15e-f4a7ed5ec759,10 Hours,0.183337,FarGlory_SAP,virtualMachines,E4 v3/E4s v3,DZH318Z0BQ4L,Virtual Machines Ev3 Series,DZH318Z0BQ4L/00V4,E4 v3,Virtual Machines,DZH313Z7MMC8,Compute,Standard_E4_v3,southeastasia,AP Southeast,2017-03-01,USD,0.0,1 Hour,"{""vCPUs"":4,""memory"":32.00,""maxDataDiskCount"":8...","[\n {\n ""name"": ""MaxResourceVolumeMB"",\n ...",Linux,0.320,-1.000,0.188128,0.120320,0.063744,{},2021-07-01 20:45:54

In [61]:
pd.set_option('display.max_rows', None)
d1 = meter_sku.loc[(meter_sku['RG']=='FARGLORY_SAP')& (meter_sku['skuName']=='D2 v3')]
d1 = d1.groupby(['DATE'])["ConsumedQuantity"].sum()
dff1 = pd.DataFrame(d1)
dff1.describe()

       ConsumedQuantity
count        965.000000
mean         102.624301
std           29.914025
min            3.000000
25%           72.000000
50%          117.000000
75%          120.000000
max          192.000000

In [63]:
pd.set_option('display.max_rows', None)
d3 = meter_sku.loc[(meter_sku['RG']=='FARGLORY_SAP')]
d4 = d3.loc[(meter_sku['skuName']=='D2 v3')& (meter_sku['meterId']=='2dff75ae-bd6e-417e-918d-8542c8ea3423')]

d4 = d4.groupby(['DATE'])["ConsumedQuantity"].sum()
dff4 = pd.DataFrame(d4)
dff4.describe()

       ConsumedQuantity
count        965.000000
mean         100.635597
std           31.798349
min            3.000000
25%           72.000000
50%          117.000000
75%          120.000000
max          192.000000

In [46]:
df8 = meter_sku.loc[(meter_sku['RG']=='FARGLORY_SAP')& (meter_sku['skuName']=='D2 v3')]
df8.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4352 entries, 4941 to 507
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DATE                4352 non-null   datetime64[ns]
 1   Cost                4352 non-null   float64
 2   InstanceId          4352 non-null   object
 3   ResourceLocation    4352 non-null   object
 4   meterId             4352 non-null   object
 5   UnitOfMeasure       4352 non-null   object
 6   ConsumedQuantity    4352 non-null   float64
 7   RG                  4352 non-null   object
 8   ServiceType         4352 non-null   object
 9   meterName           4352 non-null   object
 10  productId           4352 non-null   object
 11  productName         4352 non-null   object
 12  skuId               4352 non-null   object
 13  skuName             4352 non-null   object
 14  serviceName         4352 non-null   object
 15  serviceId           4352 non-null   object
 16  serviceFamily       4352 non-null   object
 17  armSkuName          4352 non-null   object
 18  armRegionName       4352 non-null   object
 19  location            4352 non-null   object
 20  effectiveStartDate  4352 non-null   object
 21  currencyCode        4352 non-null   object
 22  tierMinimumUnits    4352 non-null   float64
 23  unitOfMeasure       4352 non-null   object
 24  armSkuSpec          4352 non-null   object
 25  armSkuSpecRaw       4352 non-null   object
 26  operatingSystem     4352 non-null   object
 27  retailPrice         4352 non-null   float64
 28  devtestPrice        4352 non-null   float64
 29  riPrice1Y           4352 non-null   float64
 30  riPrice3Y           4352 non-null   float64
 31  spotPrice           4352 non-null   float64
 32  detailJSON          4352 non-null   object
 33  updateTime          4352 non-null   object
dtypes: datetime64[ns](1), float64(8), object(25)
memory usage: 1.2+ MB

In [47]:
df8 = meter_sku.loc[(meter_sku['RG']=='FARGLORY_SAP')& (meter_sku['skuName']=='E8 v3')]
df8.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 813 entries, 4957 to 569
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DATE                813 non-null    datetime64[ns]
 1   Cost                813 non-null    float64
 2   InstanceId          813 non-null    object
 3   ResourceLocation    813 non-null    object
 4   meterId             813 non-null    object
 5   UnitOfMeasure       813 non-null    object
 6   ConsumedQuantity    813 non-null    float64
 7   RG                  813 non-null    object
 8   ServiceType         813 non-null    object
 9   meterName           813 non-null    object
 10  productId           813 non-null    object
 11  productName         813 non-null    object
 12  skuId               813 non-null    object
 13  skuName             813 non-null    object
 14  serviceName         813 non-null    object
 15  serviceId           813 non-null    object
 16  serviceFamily       813 non-null    object
 17  armSkuName          813 non-null    object
 18  armRegionName       813 non-null    object
 19  location            813 non-null    object
 20  effectiveStartDate  813 non-null    object
 21  currencyCode        813 non-null    object
 22  tierMinimumUnits    813 non-null    float64
 23  unitOfMeasure       813 non-null    object
 24  armSkuSpec          813 non-null    object
 25  armSkuSpecRaw       813 non-null    object
 26  operatingSystem     813 non-null    object
 27  retailPrice         813 non-null    float64
 28  devtestPrice        813 non-null    float64
 29  riPrice1Y           813 non-null    float64
 30  riPrice3Y           813 non-null    float64
 31  spotPrice           813 non-null    float64
 32  detailJSON          813 non-null    object
 33  updateTime          813 non-null    object
dtypes: datetime64[ns](1), float64(8), object(25)
memory usage: 222.3+ KB

In [39]:
print(df8.groupby(['DATE'])["ConsumedQuantity"].sum())

DATE
2019-01-02    10.000000
2019-01-03    21.583345
2019-01-04    24.000000
2019-01-05    24.000000
2019-01-06    24.000000
                ...
2021-08-28    72.000000
2021-08-29    72.000000
2021-08-30    71.966686
2021-08-31    71.983353
2021-09-01     3.000000
Name: ConsumedQuantity, Length: 965, dtype: float64

In [35]:
df8 = meter_sku.loc[(meter_sku['RG']=='FARGLORY_SAP')& (meter_sku['skuName']=='D2 v3')].groupby(['DATE'])["ConsumedQuantity"].sum()
pd.DataFrame(df8)

            ConsumedQuantity
DATE
2019-01-02         10.000000
2019-01-03         21.583345
2019-01-04         24.000000
2019-01-05         24.000000
2019-01-06         24.000000
...                      ...
2021-08-28         72.000000
2021-08-29         72.000000
2021-08-30         71.966686
2021-08-31         71.983353
2021-09-01          3.000000

[965 rows x 1 columns]

In [33]:
df9=df8.groupby(['DATE'])["ConsumedQuantity"].sum()
pd.DataFrame(df9)

            ConsumedQuantity
DATE
2019-01-02         10.000000
2019-01-03         21.583345
2019-01-04         24.000000
2019-01-05         24.000000
2019-01-06         24.000000
...                      ...
2021-08-28         72.000000
2021-08-29         72.000000
2021-08-30         71.966686
2021-08-31         71.983353
2021-09-01          3.000000

[965 rows x 1 columns]

In [24]:
df5=df4.groupby(['DATE'])["ConsumedQuantity"].sum()
pd.DataFrame(df5)
df5.to_csv("skuName_D2_v3.csv")
df5

NameError: name 'df4' is not defined